fastapi==0.85
SQLAlchemy==2.0.13
uvicorn
psycopg2==2.9.4
python-dotenv
httpx
authlib
jose
python-jose
google-auth
requests
pluggy
pytest==7.2.2
itsdangerous
starlette
google-auth
requests
firebase-admin==6.1.0
thread6















